.create{
    text-align:center;    
}
.width60{
    width:65%;
}
body{
    background-color:#ececec;
}
.MuiTableCell-root-35{
    font-size:20px !important;
} 
.MuiTableCell-root-37{
    font-size:20px;
}